[submodule "minizip"]
	path = minizip
	url = https://github.com/nmoinvaz/minizip
[submodule "plog"]
	path = plog
	url = git@github.com:SergiusTheBest/plog.git
[submodule "gdisk"]
	path = gdisk
	url = https://git.code.sf.net/p/gptfdisk/code
	branch = 846a9e30cda88f75369d175f2f549cad3ea15db2
