[submodule "minizip"]
	path = minizip
	url = https://github.com/nmoinvaz/minizip
[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog
[submodule "gdisk"]
	path = gdisk
	url = https://github.com/neverware/gdisk
[submodule "libmicrohttpd"]
	path = libmicrohttpd
	url = https://github.com/neverware/libmicrohttpd
