[submodule "minizip"]
	path = minizip
	url = https://github.com/nmoinvaz/minizip
[submodule "plog"]
	path = plog
	url = git@github.com:SergiusTheBest/plog.git
[submodule "gdisk"]
	path = gdisk
	url = ssh://git@github.com/neverware/gdisk
	branch = debian-copy
